@mixin centered() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page {
  position: relative;
}

nav {
  height: 70px;
  @include centered();
  font-size: 16px;
  padding: 15px 20px;
  font-weight: 500;
  ul {
    @include centered();
    margin-right: auto;
    margin-left: auto;
    li {
      padding: 0 25px;
      a {
        color: #707070;
        &.active {
          color: black;
        }
      }
    }
  }
  .img-div {
    @include centered();
    img {
      border: 3px solid #707070;
    }
    svg {
      margin-left: 10px;
    }
  }
}

main {
  background: rgb(246, 246, 249);
  background: linear-gradient(
    0deg,
    rgba(211, 211, 211, 0.1) 100%,
    rgba(255, 255, 255, 1) 0%
  );
  // height: calc(100%-70px);
  @include centered();
}

@media screen and (max-width: 375px) and (min-width: 319px) {
  body {
    overflow-y: hidden;
  }
}
